body{
    font-size: "gill Sans", "gill Sans MT", Calibri, "trebuchet MS", "sans-serif";
    background-color: #e4eef8;
}

.wrapers{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    color: #343f44;
    font-size: 28px;
}
.logo i{
    color: #2e86fd;
    font-size: 35px;
}

.menu {
    flex-grow: 2;
    color: #343f44;
    margin-left: 80px;
}
.menu ul {
    list-style-type: none;
    display: flex;
}
.menu li {
    margin-right: 30px;
    font-weight: 600;
}

.outline-button {
    padding: 10px 20px;
    background-color: transparent;
    border: solid 2px #2e86fd;
    color: #2e86fd;
    font-weight: bold;
    

}
.presentation {
    margin-left: auto;
    margin-right: auto;
}
.pre-title {
    color: #6f7880;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    max-width: 600px; /* Ancho máximo para limitar el ancho de los elementos */
    margin: 80px auto 20px; /* Margen automático para centrar y espacio inferior */
    text-align: center; /* Centra el texto dentro del div */
    display: block;
}

.presentation h1 { 
    color: #343f44;
    font-size: 70px;
    margin-top: 35px;
    margin-bottom: 35px;
    
    
}

.post-title {
    color: #6f7880;
    font-size: 21px;
    font-weight: 600;
    padding: 0 50px;
    display: block;
    
    
}
.subscribe-form input {
    width: 30%;
    height: 53px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #a3a3a5;
    }

.subscribe-form button{
    width: 35%;
    height: 55px;
    border: none;
    background-color: #fa593c;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.secondary-p{
    color: #969da5;
    font-weight: 600;
}

/*.presentation .pre-title,*/
.presentation h1,
.presentation .post-title,
.presentation .subscribe-form,
.presentation .secondary-p {
    max-width: 600px; /* Ancho máximo para limitar el ancho de los elementos */
    margin: 0 auto 20px; /* Margen automático para centrar y espacio inferior */
    text-align: center; /* Centra el texto dentro del div */
}
.features {
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
}

.features {
    display: flex;
    align-items: start;
    gap: 20px;
    max-width: 950px; /* Ancho máximo para limitar el ancho de los elementos */
    margin: 120px auto 20px; /* Margen automático para centrar y espacio inferior */
    text-align: center; /* Centra el texto dentro del div */
}
          


.features h4 {
    margin: 0px;
    margin-bottom: 0px;
    width: 150px;
    font-size: 21px; /* Tamaño del ícono */
    margin-bottom: 10px; /* Margen inferior para separar el ícono del texto */
    text-align: center; /* Centra el texto dentro del div */
}
.feature {
    color: #6f7880;
    font-size: 18px;
    font-weight: 200;
}

.features i {
    font-size: 55px;
    color: #2e86fd;
}


